.record-section{
    position: relative;
    padding-top:  30px;
    justify-content: center;
    width: 100%;
    height: 810px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    text-align: center;
    .back-btn{
        cursor: pointer;
        top: 3%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        border-radius: 100%;
        background-color: #D9D9D9;
        .array{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 6px;
            height: 9px;
        }
    }
    p{
        font-size: 20px;
        font-weight: 800;
    }
    .laptop-item{
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin: 33px 31px;
        Width: 320px;
        Height: 123px;
        background-color: #EAFAFF;
        border-radius: 20px;
        border: solid 1px #AED1EA; 
      .laptop-image{
        width: 160px;
        height: 107px;
        border-radius: 10px;
        background-color: aqua;
      }
      .list{
            font-size: 12px;
            display: grid;
            grid-gap: 15px;
            text-align: start;
        .staf-name{
            font-size: 11px;
            color: #2E2E2E;
            font-weight: 800;
        }
      }
    }
    .item-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
};